@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* LOCK PAGE SCROLL */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #05070f;
  overflow: hidden;
}

#__next {
  height: 100%;
}

/* Buttons */
button {
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Scrollbar (inside game only) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}
